<template type="text/x-template" id="app-main">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#tab1" class="grey-text">List</a></li>
        <li class="tab col s6"><a href="#tab2" class="grey-text">Create</a></li>
      </ul>
    </div class="lime">
    <div id="tab1" class="col s12">
      <table class="striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Sub Domain</th>
            <th>Branch</th>
            <th>Docker Image</th>
            <th>Updated At</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="c of Containers">
            <td>{{ c.id | omitContainerId }}</td>
            <td>{{ c.subdomain }}</td>
            <td>{{ c.branch }}</td>
            <td>{{ c.image }}</td>
            <td>{{ c.updated_at }}</td>
            <td>
              <a class="waves-effect btn modal-trigger" :href='["#del-" + c.subdomain]'><i class="material-icons">delete</i></a>
              <div :id='["del-" + c.subdomain]' class="modal">
                <div class="modal-content">
                  <p>Are you sure you want to delete? (subdomain: <b>{{ c.subdomain }}</b>)</p>
                </div>
                <div class="modal-footer">
                  <a class="modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
                  <a class="modal-action modal-close waves-effect waves-green btn">DELETE</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="tab2" class="col s12">
      <div class="create-form container">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><b>Create Docker Container</b></span>
              <form class="">
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Input sub domain name." id="subdomain" type="text" class="validate">
                    <label for="subdomain">Sub Domain</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Input docker image name." id="image" type="text" class="validate">
                    <label for="image">Docker Image</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Input git branch name" id="branch" type="text" class="validate">
                    <label for="branch">Git Branch</label>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-action right-align">
              <button class="btn waves-effect lime accent-2 brown-text" href="">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  var c = Vue.component('main', {
    template: '#app-main',
    data () {
      return {
        Containers: [],
        InputImage: '',
        InputBranch: '',
        InputSubdomain: '',
      }
    },
    beforeMount() {
      fetch('/list').then((response) => {
          response.json().then((json) => {
            this.Containers = json[0].data
          })
        })
    },
    filters: {
      omitContainerId: (id) => {
        return id.substr(0, 12)
      }
    }
  })

  var vm = new Vue({
    el: '#app',

    components: {
      'app-main': c
    },
  })
</script>
