<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Izanami 管理画面</title>
  <link rel="stylesheet" href="">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <h1>Izanami</h1>
  <div id="app">
    <app-main></app-main>
  </div>
  <%= script %>
</body>
</html>
